---
layout: default
title: Photography
---


<div class="nav-bg"></div>

<div class="pf-header">
    <h1>Projects</h1>

    <p>
        Here you can find the projects, that I have written blog posts for so far. There will be more to come.
    </p>
</div>


<div class="pf-wrapper container">  
    <div class="row-cols-3">


        {% for page in site.pages %}
            {% if page.category == "project" %}
                <div class="col-lg-4 col-sm-4 pf-object">
                    <a href="{{page.url | relative path }}" class="portfolio-box">
                        <img src="{{ '/assets/img/portfolio/' | append:page.img | append: '.jpg' | relative_url }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{page.category}}
                                </div>
                                <div class="project-name">
                                    {{page.title}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}

        {% endfor %}

    </div> 

</div>

<div class="footer">
</div>