<section class="" id="about">
    <div class="container">
        <div class="about-me">
            <h2>ABOUT ME</h2>
        </div>
        <ol class="timeline">
            <li class="timeline-item">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                      </svg>
                </span>
                <div class="timeline-item-description">
                    <span>EDUCATION</span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg<" viewBox="0 0 16 16" width="16" height="16">
                        <path fill="none" d="M0 0h24v24H0z" />
                        
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>M. Sc. Mechatronics and Robotics at TU Munich from <time datetime="21-01-2021">2020 to 2024</time></span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>B. Sc. Wirtschaftsingenieurwesen at Unversität Duisburg-Essen from 2015 to 2019</span>
                </div>
            </li>

            <li class="timeline-item--space">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-magic" viewBox="0 0 16 16">
                        <path d="M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z"/>
                      </svg>
                </span>
                <div class="timeline-item-description">
                    <span>PROFESSIONAL EXPERIENCE</span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill="none" d="M0 0h24v24H0z" />
                        
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>Robotics Expert Internship at SMS-Group from 05.2025 to 08.2025</span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill="none" d="M0 0h24v24H0z" />
                        
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>Working student at <a target="_blank" href="https://www.arri.com">ARRI AG</a> from 2023 to 2024</span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill="none" d="M0 0h24v24H0z" />
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>Working student at <a target="_blank" href="https://www.p3-group.com">P3 Group</a> from 2021 to 2022</span>
                </div>
            </li>
            <li class="timeline-item--small">
                <span class="timeline-item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                    </svg>
                </span>
                <div class="timeline-item-description">
                    <span>Internship at Mercedes-Benz Vans from 2018 to 2019</span>
                </div>
            </li>

            
        </ol>
    </div>
</section>
