

<header>

    
    <div class="header-content">
        <div class="header-content-inner">
            <h1>my personal website</h1>
            <p>This is a small collection of projects I've worked on through the years, just to introduce myself to people in a way no CV ever could. I'm also using this page to display a few things that would otherwise just sit on my hard drive.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll ">Find Out More</a>
        </div>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Three.js 3D Model</title>

        
        
        
    </div>  

    <img src="{{ '/assets/img/profile.png' | relative_url }}" class="header-image">

    <div class="header-content-background">
    
    </div> 

   <style>
        
        .header-content-background {
            background-image: url({{'/assets/img/banner-full.png' | relative_url}});
        }
   </style>

</header> 
