

<header>

    <div class="header-content">
        <div class="header-content-inner">

            <div class="name">Florian Rzepczyk</div>
            <div class="description">Engineer and Designer</div>
            <h1 class="display-4 greeting" >Hey there! This is a small collection of projects I've worked on through the years, just to introduce myself to people in a way no CV ever could. </h1>
            <p></p>

            <!--
            
            <a href="#about" class="btn btn-primary btn-xl page-scroll ">Find Out More</a>

            -->

        </div>
        
        <!--
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Three.js 3D Model</title>

        -->
        
        
        
    </div>  

    <!--
    
    <img src="{{ '/assets/img/profile.png' | relative_url }}" class="header-image">

    -->
    <div class="header-content-background">
    
    </div> 

   <style>
        
        .header-content-background {
            background-image: url({{'/assets/img/banner-full.png' | relative_url}});
        }
   </style>

</header> 
